@use "../Composants/" as *;

.home_guide{
    display: flex;
    flex-direction: column;
    background-color: white;
    .header_geo{
        background-color: $color-darkgrey;
        display: flex;
        justify-content: center;
        padding: 1rem;
        form input{
            background-color: #dfdfdf;
            border: 0;
            font-size: 1rem;
            width: 100%;
            margin-left:1rem;
        }
    }
    .header_description{
        background-color: $color-lightgrey;
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-bottom: 1rem;
        h2{
            font-size: 1.6rem;
            font-weight: bold;
            text-align: center;
            margin-top: 2rem;
            width: 80%;
        }
        p{
            font-size: 1.2rem;
            text-align: center;
            opacity: 0.9;
            margin-top: 0.5rem;
        }
        div{
            padding: 3rem 3rem 5rem 3rem;
            white-space: nowrap;
            .button{
                color: white;
                font-size: 1.1rem;
                padding: 1rem 1rem;
                border-radius: 6rem;
                background-image: linear-gradient(to bottom right, rgba(255,121,218,.9), rgba(147,86,220,.9));
                &:hover{
                    box-shadow: 6px 6px 3px darken($color-darkgrey, 25%);
                    transition-duration: 500ms;
                    opacity: 0.8;
                }
            }
        }
    }
    .header_guide{
        display: flex;
        flex-direction: column;
        h2{
            font-size: 1.5rem;
            margin-left: 1.5rem;
            margin-bottom: 1rem;
            @media (min-width: $large-screen){
                text-align: center;
            }
        }
        div{
            @media (min-width: $large-screen){
                display: flex;
                margin-bottom: 2rem;
            }
            div{
                @media (min-width:$large-screen){
                    flex: 1 1 30%;
                }
            }
            article{
                display: flex;
                font-size: large;
                width: 90%;
                margin: 1rem auto;
                background-color: $color-lightgrey;
                padding: 1.5rem;
                border-radius: 0.5rem;
                align-items: center;
                box-shadow: 0.25rem 0.25rem 0.5rem rgb(0 0 0 / 15%);
                span{
                    position: relative;
                    left: -2rem;
                    height: 1.5rem;
                    width: 1.5rem;
                    background-color: $color-primary;
                    border-radius: 100px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: white;
                }
                i{
                    opacity: 0.5;
                    margin-right: 2rem;
                }
                p{
                    font-weight:bold;
                }
            }
        :hover article{
            background-color: lighten($color-secondary, 23%);
        }
        :hover i{
            opacity: 1;
            color: $color-primary;
        }
        }
}
}

