@use "variables" as *;

.button_container{
    display: flex;
    justify-content: center;
    padding: 2rem;
}


.button{
    color: white !important;
    padding: 0.7rem 1rem;
    border-radius: 6rem;
    background-image: linear-gradient(to bottom right, rgba(255,121,218,.9), rgba(147,86,220,.9));
    &:hover{
        box-shadow: 6px 6px 3px darken($color-darkgrey, 25%);
        transition-duration: 500ms;
        opacity: 0.8;
    }
}