@use "variables.scss" as *;

.like{
    display: flex;
    justify-content: flex-end;
    position: relative;
    &:hover .fa-regular{
        display: none;
        transition-duration: 1000ms;
    }
    &:hover .fas{
        opacity: 1;
        transition-duration: 1000ms;
        transform: scale(1.50);
    }
    .fa-regular{
        font-size: x-large;
        position: absolute;
        color: black;
    }
    .fas{
        font-size: x-large;
        position: absolute;
        opacity: 0;
        background:-moz-linear-gradient(bottom, #ff79dae6 0%, #9356dce6 100%); 
        background: -webkit-linear-gradient(bottom, #ff79dae6 0%,#9356dce6 100%); 
        background: linear-gradient(to top, #ff79dae6 0%,#9356dce6 100%);
        -webkit-background-clip: text;
        -moz-background-clip: text;
        background-clip: text;
       -webkit-text-fill-color:transparent;
    }
    
}